.about-wrapper{
  display: grid;
  place-items: center;
}

.about-content{
  min-width: 250px;
  max-width: 50vw;
  min-height: 200px;
  max-height: 80vw;
  border-radius: 4px;
  padding: 20px;
  margin-top:30px;
  font-size: 20px;
  display: grid;
  place-items: center;
}

.green {
  border: 1px solid #8ac38b;
  color: #356635;
  background-color: #cde0c4;
}
