
  <mat-toolbar color="primary">
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="sidenav.toggle()"
      *ngIf="isHandset$ | async">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>

    <span class="mat-button-wrapper">
      <img width="50px" src="../assets/img/logo.png" alt="covod19" class="covid19-logo">
    </span>

    <div style="margin-left: 10px;" *ngIf="!isHandset">
      <a mat-button [routerLink]="'/home'" routerLinkActive="nav-active"> Home </a>
      <a mat-button [routerLink]="'/map'" routerLinkActive="nav-active"> Map </a>
      <a mat-button [routerLink]="'/about'" routerLinkActive="nav-active"> About us </a>

    </div>
    <span class="menu-spacer"></span>
    <span style="flex: 1 1 auto"></span>
    <mat-icon>person</mat-icon>
    <mat-icon>settings</mat-icon>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #sidenav>
      <mat-nav-list style="width: 180px;">

        <a mat-list-item (click)="sidenav.toggle()" [routerLink]="'/home'"><mat-icon>home</mat-icon> <span>Home</span>  </a>
        <a mat-list-item (click)="sidenav.toggle()" [routerLink]="'/map'"><mat-icon>home</mat-icon> <span>Map</span>  </a>
        <a mat-list-item (click)="sidenav.toggle()" [routerLink]="'/about'"><mat-icon>people</mat-icon><span> About us </span></a>
        <mat-divider></mat-divider>
        <a mat-list-item (click)="sidenav.toggle()" mat-list-item><mat-icon>close</mat-icon><span> Close</span></a>

      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content style="display: grid; grid-template-rows: 1fr auto; overflow: auto;">
      <div>
        <router-outlet></router-outlet>
      </div>

      <footer class="my-footer">
        <div class="my-footer-item">
          <span> Terms of use
          </span>
        </div>
        <div class="my-footer-item">
          <span>Version: 1.0.0</span>
        </div>
        <div class="my-footer-item">
          <span>©2020</span>
        </div>
      </footer>
    </mat-sidenav-content>

  </mat-sidenav-container>


